# Evaluating Traffic Sign Recognition Pipelines

---

This notebook is part of https://github.com/risc-mi/atsd.

This notebook demonstrates how detection- and classification trained on ATSD-Scenes and ATSD-Signs can be evaluated, by calculating class-wise average precision and mean average precision (mAP).

## Package Imports

In [1]:
from pathlib import Path
import pandas as pd
from util import evaluator

## Paths

Set `ROOT` to the path to the directory where ATSD-Scenes is located. This is the directory containing folders `"/train"` and `"/test"`.

In [2]:
ROOT = Path('path/to/atsd-scenes')

## Load Ground Truth and Recognition Results

Load ground truth:

In [3]:
annotations = pd.read_csv(ROOT / 'test/meta_test.csv', index_col=0)

Drop categories not used for training the detection models:

In [4]:
annotations = annotations[~annotations['class_id'].str[:2].isin(('09', 'xx'))]

In [5]:
len(annotations)

4889

In [6]:
annotations.head()

,image_id,annotation_id,xtl,ytl,xbr,ybr,group_id,type,not_normal_to_roadway,unusual_sign,...,weather,lighting,fog,tunnel,damaged,trimmed,covered,multiple_signs_visible,caption,class_id
2,32,122,761.08,0.00,950.42,104.87,-1,prismatic,False,False,...,normal,normal,False,False,False,False,False,False,False,08_02
3,32,123,1045.20,20.19,1101.48,76.73,-1,led,False,False,...,normal,normal,False,False,False,False,False,False,False,01_12
4,32,124,614.71,39.99,672.86,96.53,-1,led,False,False,...,normal,normal,False,False,False,False,False,False,False,01_12
5,33,125,952.73,297.87,979.66,328.02,299,plate,False,False,...,normal,normal,False,False,False,False,False,False,False,01_12
6,33,126,949.77,326.92,980.46,347.68,299,plate,False,False,...,normal,normal,False,False,False,False,False,False,False,07_xx

Load recognition results. These can be either detection results, where only the traffic sign category is predicted, or results from the entire recognition pipeline, where the exact class is predicted.

In this case, we load results from a detection+classification pipeline trained on the public training set and evaluated on the public test set. The classifier was trained with geometric+LED augmentation enabled.

In [7]:
recognitions = pd.read_csv('results/1_7.csv', index_col=0)

The traffic sign category predicted by the detector is stored in column `"cat_id"`, the detector's confidence in column `"conf"`, the traffic sign class predicted by the classifier can be found in column `"pred"` and the classifier's softmax score in column `"pred_score"`. Furthermore, every row is assigned a unique `"detection_id"`, similar to `"annotation_id"` in the ground-truth annotations:

In [8]:
recognitions.head()

,conf,image_id,cat_id,xtl,ytl,xbr,ybr,detection_id,pred,pred_score
0,0.998773,32,8,761.0,-0.5,949.0,102.5,6505,08_02,0.999986
1,0.999831,32,1,615.5,38.5,670.5,95.5,6506,01_12,1.000000
2,0.998073,32,1,1045.5,20.0,1098.5,76.0,6507,01_12,0.999990
3,0.978714,33,7,949.0,327.0,979.0,347.0,6508,07_04,1.000000
4,0.976064,33,7,1341.0,355.0,1419.0,383.0,6509,07_09,0.999196

In this case, bounding boxes are specified in columns `"xtl"`, `"ytl"`, `"xbr"` and `"ybr"`. Alternatively, it is also possible to have a single column `"bbox"` containing string-representations of the bounding boxes in the YOLO-native `(x_center, y_center, width, height)` format.

## Evaluate Detection Performance

Evaluate detection performance, i.e., ignore class predictions and only consider categories. Note that detection- and annotation-IDs must be on the respective row index:

In [9]:
det_matches, det_metrics = evaluator.evaluate(
    recognitions.set_index('detection_id'),
    annotations.set_index('annotation_id'),
    conf='conf',
    pred='cat_id',
    iou_threshold=0.5,
    conf_threshold=0.25,
    discard_disagreements=False,
    area_range=None
)

Per-class performance metrics:

In [10]:
det_metrics

      TP   FP   FN  Precision    Recall        AP
01  2614  163  100   0.941304  0.963154  0.977219
02   186    9   17   0.953846  0.916256  0.953874
03    60   14   16   0.810811  0.789474  0.839418
04    69    7   15   0.907895  0.821429  0.897446
05   253   49   47   0.837748  0.843333  0.877979
06    10    1   13   0.909091  0.434783  0.683517
07   713   77  107   0.902532  0.869512  0.912558
08   529   56  140   0.904274  0.790732  0.870103

Matched detections and ground truth annotations:

In [11]:
det_matches.head()

   recognition_id  annotation_id       iou
0            6505            122  0.965103
1            6507            123  0.926629
2            6506            124  0.906016
3            6513            125  0.744512
4            6508            126  0.895905

## Evaluate Performance of Detection+Classification Pipeline

Evaluate detection+classification performance. There are in fact only two differences to the invocation of function `evaluator.evaluate()` in the section above:
* `conf` is set to `"pred_score"`, to use the softmax score returned by the classifier as the detection confidence. It could be set to `"conf"` or any combination (product, minimum, maximum, etc.) of the two, but in our experiments `"pred_score"` worked best.
* `pred` is set to `"pred"`, which is the predicted traffic sign class.

Note that all ground-truth annotations of traffic sign classes not included among the 60 classes in ATSD-Signs are automatically ignored!

In [12]:
pip_matches, pip_metrics = evaluator.evaluate(
    recognitions.set_index('detection_id'),
    annotations.set_index('annotation_id'),
    conf='pred_score',
    pred='pred',
    iou_threshold=0.5,
    conf_threshold=0.25,
    discard_disagreements=False,
    area_range=None
)

Per-class performance metrics, sorted descending by average precision:

In [13]:
pip_metrics.sort_values('AP', ascending=False)

        TP   FP  FN  Precision    Recall        AP
01_22   13    0   0   1.000000  1.000000  0.995000
01_10    3    0   0   1.000000  1.000000  0.995000
05_04   10    0   0   1.000000  1.000000  0.995000
02_01    9    3   0   0.750000  1.000000  0.995000
01_18    3    2   0   0.600000  1.000000  0.995000
02_05    8    1   0   0.888889  1.000000  0.995000
07_04   89    1   0   0.988889  1.000000  0.995000
01_12  399   23   4   0.945498  0.990074  0.993883
02_03   43    5   0   0.895833  1.000000  0.993636
01_06  407   37   4   0.916667  0.990268  0.993347
01_11  242    3   3   0.987755  0.987755  0.992901
01_08  627   49   9   0.927515  0.985849  0.988893
01_14   49   11   1   0.816667  0.980000  0.981976
07_05   30   16   0   0.652174  1.000000  0.980792
01_04  229   22   7   0.912351  0.970339  0.979604
05_08   27    8   1   0.771429  0.964286  0.975460
07_08   39    1   2   0.975000  0.951220  0.974988
01_16    8    3   0   0.727273  1.000000  0.971000
01_15   42    8   2   0.840000  0.954545  0.970298
01_19   26    7   0   0.787879  1.000000  0.969891
01_23   33    2   2   0.942857  0.942857  0.969750
05_02   43    2   3   0.955556  0.934783  0.965314
01_21   83    8   5   0.912088  0.943182  0.962244
07_02  131    2  13   0.984962  0.909722  0.954097
01_07   10    1   1   0.909091  0.909091  0.950000
01_17   28    1   3   0.965517  0.903226  0.949897
01_03   46    4   5   0.920000  0.901961  0.946377
01_09    8    0   1   1.000000  0.888889  0.944400
07_10   14   17   1   0.451613  0.933333  0.940476
01_13  118   13  12   0.900763  0.907692  0.935767
07_03  104   14  12   0.881356  0.896552  0.934186
07_07   16    2   2   0.888889  0.888889  0.932244
06_01    7    1   1   0.875000  0.875000  0.929600
01_02    6    0   1   1.000000  0.857143  0.928500
01_20   20    1   4   0.952381  0.833333  0.912714
04_05   27    2   5   0.931034  0.843750  0.907575
05_01   21    6   4   0.777778  0.840000  0.893838
02_02   15    2   3   0.882353  0.833333  0.889500
04_02   14    0   4   1.000000  0.777778  0.888850
05_06   12   16   2   0.428571  0.857143  0.886500
01_01   12    2   3   0.857143  0.800000  0.885000
08_01  460  118  76   0.795848  0.858209  0.882341
05_05   40   12   9   0.769231  0.816327  0.880762
04_01    9    0   3   1.000000  0.750000  0.875000
04_03   10    2   3   0.833333  0.769231  0.864667
05_07   17    2   5   0.894737  0.772727  0.864602
01_05    8    0   3   1.000000  0.727273  0.863600
03_01   48    9  10   0.842105  0.827586  0.858206
05_03    5    0   2   1.000000  0.714286  0.857100
02_06    9   17   1   0.346154  0.900000  0.856896
07_06    9    3   3   0.750000  0.750000  0.834500
07_01   52   33  16   0.611765  0.764706  0.806259
04_04    4    1   2   0.800000  0.666667  0.799640
03_02   15    7   3   0.681818  0.833333  0.763593
02_04   15    0  16   1.000000  0.483871  0.741912
08_02   72   43  57   0.626087  0.558140  0.677386
06_03    2    0   4   1.000000  0.333333  0.666650
07_09    4    1  14   0.800000  0.222222  0.533880
06_02    3    3   5   0.500000  0.375000  0.531240
07_11    7   10  13   0.411765  0.350000  0.397311

Mean average precision (mAP):

In [14]:
pip_metrics['AP'].mean()

0.8965673844027315